{% comment %}Example of getting translated strings from Transifex. This example uses v2.5 of Transifex's API which will be deprecated 11/30/2022.{% endcomment %}

{% capture translation %}
{% assign project = 'example-project' %}
{% assign resource = 'example-resource' %}

{% if {{ ${language} }} == blank %}
    {% assign userLanguage = {{ ${language} }} %}
{% else %}
    {% assign userLanguage = 'en' %}
{% endif %}

{% connected_content
https://www.transifex.com/api/2/project/{{project}}/resource/{{resource}}/translation/{{userLanguage}}/strings?
:basic_auth transifex :content_type application/json
:save items %}

{% for item in items %}
{% case item.key %}
{% when 'deviceBlocked.string' %}
    {% capture deviceBlocked %}
    {% if item.translation != blank %}
    {{ item.translation }}
    {% else %}
    {{ item.source_string }}
    {% endif %}
    {% endcapture %}
{% when 'deviceSuccess.string' %}
    {% capture deviceSuccess %}
    {% if item.translation != blank %}
    {{ item.translation }}
    {% else %}
    {{ item.source_string }}
    {% endif %}
    {% endcapture %}
{% endcase %}
{% endfor %}
{% if deviceStatus == 'blocked' %}
  {{ deviceBlocked | replace: '%%ipaddrr%%', ipaddrr | replace: '%%country%%', country | replace: '%%deviceName%%',
deviceName }}
{% else %}
  {{ deviceSuccess }}
{% endif }
{% endcapture %}
{{ translation | strip }}